<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd   
        http://www.springframework.org/schema/context    
        http://www.springframework.org/schema/context/spring-context-4.0.xsd   
        http://www.springframework.org/schema/mvc       
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- only scan @Controller -->
	<context:component-scan base-package="com.chen.plane.controller" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>

	<!-- @Autowired -->
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.FormHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/x-www-form-urlencoded;charset=UTF-8</value>
					</list>
				</property>
			</bean>
			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/x-www-form-urlencoded;charset=UTF-8</value>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- spring servlet -->
	<mvc:default-servlet-handler/>

	<mvc:resources location="/modules/article/" mapping="/article/**"/>
	<mvc:resources location="/modules/main/" mapping="/main/**"/>

	<bean id="localeResolver"
		  class="org.springframework.web.servlet.i18n.AcceptHeaderLocaleResolver" />


	<aop:aspectj-autoproxy proxy-target-class="true" />

	<!--试图解析器-->
    <bean id="resolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages" />
		<property name="suffix" value=".jsp"/>
	</bean>

	<bean class="org.springframework.web.servlet.view.BeanNameViewResolver" />
	
	<bean id="map" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="resourceUrl" value="${resource.weburl}" />
			</map>
		</constructor-arg>
	</bean>
</beans>
