
.bodyTop{
    position:absolute;
    background-image: url("/modules/common/images/body_bg.jpg");
    width: 100%;
    height: 147px;
    top: -9px;
}
.bodyCenter{
    position: absolute;
    background-image: url("/modules/common/images/content_bg.jpg");
    top: 138px;
    width: 100%;
    height: 100%;
}
.menu{
    position: relative;
    margin-left: 25%;
    margin-right: 15%;
    top: 118px;
}
.menu a{
    width: 40px;
    height: 10px;
    color: #0b96fa;
}
.register{
    position: absolute;
    width: 200px;
    height: 140px;
    top: 25px;
    left: 40%;
}
.ticket{
    position: absolute;
    width: 200px;
    height: 140px;
    top: 25px;
    left: 20%;
}
.ticketList{
    position: absolute;
    width: 200px;
    height: 140px;
    top: 25px;
    left: 45%;
}
.tab{border-collapse:collapse}
.userCenter{
    position: absolute;
    width: 200px;
    height: 140px;
    top: 80px;
    left: 80%;
}
.userTicketCenter{
    position: absolute;
    width: 400px;
    height: 640px;
    top: 25px;
    left: 60px;
}